* {
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar {
    display: flex;
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar__s1{
    color: #a435f0 ;
}
.navbar__s2{
    border: solid black 1px;
    width: 60%;
    padding: 7px;
    border-radius: 30px;
    align-items: center;
    display: flex;
    gap: 10px;
}
.navbar__s2__input{
    border: none;
    font-size: 20px;
    width: 100%;
    background-color: transparent;
}
.navbar__s2 i{
    padding: 5px;
}
.navbar__s2__input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.mylearn{
    position: relative;
    cursor: pointer;
}
.mylearn__popup{
    position: absolute;
    background-color: #a435f0;
    color: white;
    border: solid black 1px;
    width: 100px;  
    top: 150%;
    padding: 20px; 
    right: 0;
    display: none;
}
.mylearn:hover .mylearn__popup{
    display: block;
}
.category{
    display: flex;
    justify-content: space-around ;

    border-bottom: solid black 1px;
    padding: 10px;
}
.category p{
    border: none;
    background-color: #a435f0;
    color: white;
    border-radius: 30px;
    padding: 13px; 
    border: solid  #a435f0 1px;
    cursor: pointer;
    
}
.category p:hover{
    transition: 1s;
    background-color: white;
    color: #a435f0;
    border: solid black 1px;
}
.image{
    position: relative;
}
.image img{
    width: 100%;
}
.image__offer{
    width: 30%;
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 20%;
    left: 5%;
    animation-name: image;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes image 
{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}
.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.course-card{ 
    width: 350px;
}
.course-card img{
    width: 100%;
    height: 50%;
}
.topic{
    padding: 10px;
}
.topic__container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
}
.topic__container p{
    border: solid gray 2px;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 10px;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    background-color: black;
    color: white;
    padding: 10px;
}
.footer__one{
    display: flex;
    padding: 10px;
    gap: 15px;
    margin: 10px;

}
.footer__one__s1 p{
    margin: 12px;
}
.footer__one__s2 p{
    margin: 12px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}